<mat-spinner *ngIf="!dataReady"></mat-spinner>
<ng-container *ngIf="dataReady">
  <h1>{{post.title}}</h1>
  <a href="javascript:void(0)" routerLink="/category/details/{{categoryId}}">Back to category</a>


  <div class="card">

    <ng-container *ngIf="isCurrUserAuthor && !currUser?.isAdmin then authorEdit"></ng-container>
    <ng-container *ngIf="currUser?.isAdmin then adminEdit"></ng-container>

    <ng-template #authorEdit>
      <a class="btn btn-custom-post" routerLink="/post/edit/{{post.objectId}}" href="javascript:void(0)"><i
        class="fa fa-edit"> Edit</i></a>
    </ng-template>

    <ng-template #adminEdit>
      <a class="btn btn-custom-post" routerLink="/administration/post/edit/{{categoryId}}/{{post.objectId}}"
         href="javascript:void(0)"><i
        class="fa fa-edit"> Edit</i></a>
    </ng-template>

    <div class="card-body row">
      <div class="col-2 text-center">
        <img src="{{post.author.profileImageUrl}}" class="img-circle-post"/>

        <br/>
        <a href="javascript:void(0)">{{post.author.username}}</a>
        <ng-container *ngIf="post.author.isAdmin then adminBadge else normalUserBadge"></ng-container>

        <ng-template #adminBadge>
          <br/>
          <p class="badge badge-dark" style="width: 70px;">{{post.author.username}}</p>
        </ng-template>

        <ng-template #normalUserBadge>
          <br/>
          <p class="badge badge-success" style="width: 70px;">{{post.author.username}}</p>
          <br/>
        </ng-template>
        <br/>
        Points:
        {{post.author.karmaPoints}}

      </div>
      <div class="col-10">

        <p class="card-text" [innerHTML]="post.content"></p>

      </div>
    </div>
    <div class="card-footer text-muted" *ngIf="currUser">
      Posted on: {{post.parsedCreated}}
      <div>
        <a href="javascript:void(0)" (click)="sendVote(true)">
          <i class="fa fa-thumbs-up"></i>
        </a>
      </div>

      <div id="votesCount">{{votesCount}}</div>
      <div>
        <a href="javascript:void(0)" (click)="sendVote(false)">
          <i class="fa fa-thumbs-down"></i>
        </a>
      </div>
    </div>
  </div>

  <br/>


  <ng-container *ngIf="post.replies.length > 0 else noReplies">
    <b style="font-size: 30px">Replies:</b>
    <ng-container *ngFor="let reply of post.replies">
      <br/>

      <div class="card">

        <a *ngIf="reply.author.objectId === currUser.objectId" class="btn btn-custom-post" href="javascript:void(0)"
           routerLink="/reply/edit/{{reply.objectId}}"><i
          class="fa fa-edit"> Edit</i></a>

        <div class="card-body row">
          <div class="col-2 text-center">
            <img src="{{reply.author.profileImageUrl}}" class="img-circle-post"/>
            <br/>

            <a href="javascript:void(0)"
               routerLink="/profile/index/{{reply.author.username}}">{{reply.author.username}}</a>
            <ng-container *ngIf="reply.author.isAdmin else normalUser">
              <br/>
              <p class="badge badge-dark" style="width: 60px;">Admin</p>
              <br/>
            </ng-container>

            <ng-template #normalUser>
              <p class="badge badge-success" style="width: 60px;">User</p>
              <br/>
            </ng-template>

            Points:
            {{reply.author.karmaPoints}}

          </div>
          <div class="col-10">

            <p class="card-text" [innerHTML]="reply.content"></p>

          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on: {{reply.parsedCreated}}
        </div>

        <div class="text-muted small ml-3">

        </div>
      </div>


    </ng-container>

  </ng-container>

  <ng-template #noReplies>
    <div class="text-center text-primary">
      <h3>There are no replies to this post</h3>
    </div>
  </ng-template>

  <br/>


  <ng-container *ngIf="currUser else notAuthenticated">
    <div class="row">
      <span><a class="btn btn-dark" href="javascript:void(0)"
               routerLink="/reply/create/{{postId}}">Add a Reply</a></span>
    </div>
  </ng-container>


  <ng-template #notAuthenticated>
    <p class="text-center text-dark">
      You must be a registered user to add a reply.
      <a class="text-primary" href="javascript:void(0)" routerLink="/user/login">Login</a> or
      <a class="text-primary" href="javascript:void(0)" routerLink="/user/register">Register</a>
      now.
    </p>
  </ng-template>
</ng-container>
