<h1>List of categories</h1>

<mat-spinner *ngIf="loading"></mat-spinner>
<table class="table table-bordered table-hover">
  <tbody>
  <tr *ngFor="let category of categories trackBy: trackItem">
    <td>
      <div class="row">
        <div class="col-1 text-center"><img [src]="category.imageUrl" style="width: 80px"/></div>
        <div class="col-10 ">
          <a style="font-size: 1.5em" routerLink="/category/details/{{category.objectId}}">
            {{category.title}}
          </a>

          <div *ngIf="category.isRecentCategory " class="badge badge-success"> New</div>

          <br/>

          {{category.description}}
          <div class="text-muted">
            {{category.postsCount}} Posts by
            {{category.usersCount}} Users
          </div>
        </div>


      </div>
    </td>
  </tr>


  </tbody>
</table>

<mat-paginator #paginator
               (page)="onPaginatorEvent($event)"
               [length]="totalDataLength"
               [pageSizeOptions]="[5, 10, 25, 50]"
               pageSize="5">
</mat-paginator>

