<mat-spinner *ngIf="!category"></mat-spinner>
<ng-container *ngIf="category">
  <h1>Welcome to the <b>{{category.title}}</b> category</h1>
  <div class="align-content-stretch"><img id="borderimage" src="{{category.imageUrl}}" width="553" height="310"/></div>
  <br/>


  <p class="text-muted" *ngIf="!currUser else userLoggedIn">
    You must be a registered user to add new posts.
    <a class="text-dark" href="javascript:void(0)" routerLink="/user/login">Login</a> or
    <a class="text-dark" href="javascript:void(0)" routerLink="/user/register">Register</a>
    now.
  </p>
  <ng-template #userLoggedIn>
    <div class="row">
      <h3><a class="btn btn-primary" routerLink="/post/create/{{categoryId}}">New Post</a></h3>
    </div>
  </ng-template>

  <br/>
  <ng-container *ngIf="category.posts?.length && category.posts?.length === 0 then noPosts"></ng-container>
  <table class="table table-bordered table-hover" *ngIf="category?.posts?.length > 0">
    <mat-spinner *ngIf="paginating"></mat-spinner>

    <tbody *ngIf="!paginating">

    <tr *ngFor="let post of category.posts; trackBy: trackItem">
      <td>
        <div>
          <div style="font-size: 1.5em"><a routerLink="/post/details/{{post.objectId}}">{{post.title}}</a></div>
          <div>
            <h6 style="margin-bottom: 0;">by</h6>

            <a *ngIf="post.author.isAdmin else normalUser" class="badge badge-dark" href="javascript:void(0)"
               routerLink="/profile/index/{{post.author.username}}">{{post.author.username}}</a>


            <ng-template #normalUser>
              <a class="badge badge-success" href="javascript:void(0)"
                 routerLink="/profile/index/{{post.author.username}}">{{post.author.username}}</a>
            </ng-template>
          </div>
          <div><em>Posted on: <b>{{getConvertedDate(category.created)}}</b></em></div>

          <div *ngIf="post.repliesCount === 0">No replies</div>
          <div *ngIf="post.repliesCount === 1">1 reply</div>
          <div *ngIf="post.repliesCount >= 2">{{post.repliesCount}} replies</div>


        </div>
      </td>
    </tr>
    </tbody>

  </table>


  <!--paginator-->

  <mat-paginator
    (page)="onPaginatorEvent($event)"
    [length]="totalDataLength"
    [pageSizeOptions]="[5, 10, 25, 50]"
    pageSize="10">>
  </mat-paginator>

  <!--else-->
  <ng-template #noPosts>
    <div class="text-center ">
      <h2>There are no posts in this forum</h2>
    </div>
  </ng-template>
</ng-container>

