<section class="content-header">
  <h1>
    Posts from {{categoryName}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Posts</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Manage Posts</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="table" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>CreatedOn</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <!--            TODO: Add loading-->
            <tr *ngFor="let post of posts trackBy: trackItem">
              <td>{{post.objectId}}</td>
              <td>{{post.title}}</td>
              <td>{{post.parsedCreated}}</td>
              <td>
                <a href="javascript:void(0)"
                   routerLink="/administration/post/edit/{{post.category.objectId}}/{{post.objectId}}">Edit</a> |
<!--                TODO: Add Sweet Alert-->
                <a href="javascript:void(0)" routerLink="/administration/post/delete/{{post.objectId}}"
                   (click)="onDeletePostClick(post.objectId)">Delete</a> |
                <!--                TODO: Add link to forum-->
                <a>View in forum</a>

              </td>
            </tr>

          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
