<div class="text-center">
  <h1 class="display-4">Welcome</h1>


  <div>
    <form>
      <div class="row">
        <div class="form-group col-10">
          <input class="form-control form-control-lg" type="text" placeholder="Search for posts"/>
        </div>
        <div class="col-2">
          <button class="btn btn-block btn-lg btn-primary "><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div>

  <br/>
  <input onclick="change()" class="btn btn-outline-primary btn-block btn-lg" type="button" data-toggle="collapse"
         data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
         value="Show list of categories" id="myButton1"/>

  <div class="collapse" id="collapseExample">

    <table class="table table-bordered table-hover text-left">
      <tr *ngFor="let category of categories">
        <td>
          <div class="row">
            <div class="col-1 text-center"><img src="{{category.imageUrl}}" style="width: 40px"/></div>
            <div class="col-10 ">
              <a style="font-size: 1.5em" href="javascript:void(0)"
                 routerLink="/category/details/{{category.objectId}}">
                {{category.title}}
              </a>

              <div *ngIf="category.isRecentCategory" class="badge badge-success">New</div>
              <br/>

              {{category.description}}
              <div class="text-muted">
                2 Posts by
                2 Users
              </div>

              <br/>

            </div>


          </div>
        </td>
      </tr>


    </table>


  </div>

  <br/><br/>

  <div class="row">
    <div class="col-lg-6">
      <h3> Latest posts</h3>
      <table class="table table-hover table">


        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <mat-spinner *ngIf="!latestPostsReady"></mat-spinner>
        <tr *ngFor="let post of latestPosts">
          <td>
            <div><a href="javascript:void(0)" routerLink="/post/details/{{post.objectId}}">{{post.title}}</a></div>
            <div>
              <h6 style="margin-bottom: 0;">by</h6>

              <a href="javascript:void(0)" routerLink="/profile/index/{{post.author.username}}"
                 *ngIf="post.author.isAdmin"
                 class="author-name badge badge-dark">{{post.author.username}}</a>
              <a href="javascript:void(0)" routerLink="/profile/index/{{post.author.username}}"
                 *ngIf="!post.author.isAdmin"
                 class="author-name badge badge-success">{{post.author.username}}</a>

            </div>
            <div class="text-muted">

              <span *ngIf="post.repliesCount === 0">No replies</span>
              <span *ngIf="post.repliesCount === 1">1 Reply</span>
              <span *ngIf="post.repliesCount >= 2">{{post.repliesCount}} Replies</span>
            </div>


          </td>
        </tr>

        </tbody>


      </table>
    </div>

    <div class="col-lg-6">

      <table class="table table-hover">

        <thead>
        <tr><h3> Most popular posts</h3></tr>
        </thead>
        <tbody>
        <mat-spinner *ngIf="!mostPopularPosts"></mat-spinner>
        <tr *ngFor="let post of mostPopularPosts">
          <td>
            <div><a href="javascript:void(0)" routerLink="/post/details/{{post.objectId}}">{{post.title}}</a></div>
            <div>
              <h6 style="margin-bottom: 0;">by</h6>
              <a *ngIf="post.author.isAdmin" href="javascript:void(0)"
                 routerLink="/profile/index/{{post.author.username}}"
                 class="author-name badge badge-dark">{{post.author.username}}</a>
              <a *ngIf="!post.author.isAdmin" href="javascript:void(0)"
                 routerLink="/profile/index/{{post.author.username}}"
                 class="author-name badge badge-success">{{post.author.username}}</a>


            </div>
            <div class="text-muted">

              <span *ngIf="post.repliesCount === 0">No replies</span>
              <span *ngIf="post.repliesCount === 1">1 Reply</span>
              <span *ngIf="post.repliesCount >= 2">{{post.repliesCount}} Replies</span>


            </div>
          </td>
        </tr>

        </tbody>


      </table>

    </div>
  </div>
</div>
