<h1>New Post in <b>{{category.title}}</b></h1>

<form #f="ngForm" class="form-group" [formGroup]="form" (ngSubmit)="onFormSubmit(f)">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <editor
      id="content"
      formControlName="content"
      apiKey="m3edqqp0ax7sg5r2fjilwhp1003m8da5o44echmgnzus5ajm"
      [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],

     toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment'
   }"></editor>
  </div>
  <button mat-raised-button color="primary" type="submit" [class.spinner]="loading" [disabled]="loading">Save</button>

  <button type="reset" class="btn btn-danger">Reset</button>

</form>
